*{
	margin:0;
	padding: 0;
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
    margin:0;
    padding:0
}
body,button,input,select,textarea {
    font:12px/1.5 tahoma,arial,"\5b8b\4f53";
    *line-height:1.5;
    -ms-overflow-style:scrollbar
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%
}
address,cite,dfn,em,var {
    font-style:normal
}
code,kbd,pre,samp {
    font-family:courier new,courier,monospace
}
small {
    font-size:12px
}
ul,ol {
    list-style:none
}
a {
    text-decoration:none
}
a:hover {
    text-decoration:underline
}
sup {
    vertical-align:text-top
}
sub {
    vertical-align:text-bottom
}
legend {
    color:#000
}
fieldset,img {
    border:0
}
button,input,select,textarea {
    font-size:100%
}
table {
    border-collapse:collapse;
    border-spacing:0
}
body, button, input, select, textarea {
    color: #404040;
    font-size: 14px;
    line-height: 1.7;
    font-family: "proxima-nova", sans-serif;
}
a:hover{
	text-decoration: none;
}
header {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    top:0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.main-menu {
    display: block;
    width: 100%;
    text-align: right;
}
.main-menu ul {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}
.main-menu ul li {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}
.main-menu ul li a {
    color: #445963;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "microsoft yahei";
    font-size: 14px;
}
li.menu-item-703 {
    border: 1px solid #455a64;
    padding: 5px 10px;
}
.login-link {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #536d79;
    display: inline-block;
    padding: 5px 15px;
    letter-spacing: 2px;
    margin-left: 10px;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: "microsoft yahei";
}
.login-link:hover,.login-link:focus{
    color: #EC6367;
}
.logout-link {
    background-color: #c1c1c1;
    margin-left: 3px;
}
.main-menu ul li.menu-item-703:hover {
	border: 1px solid #eb5256;
}
.main-menu ul li.menu-item-703:hover a{
	color:#EC6367;
}

.main-menu ul li:before {
    content: '';
    width: 0;
    height: 2px;
    background: #445963;
    bottom: 0;
    -webkit-transition: all 0.5s cubic-bezier(0, 0.5, 0.17, 1);
    -moz-transition: all 0.5s cubic-bezier(0, 0.5, 0.17, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0.5, 0.17, 1);
    transition: all 0.5s cubic-bezier(0, 0.5, 0.17, 1);
    position: absolute;
}
.main-menu ul li.menu-item-703:before{
	height:0;
}

.main-menu ul li:hover:before {
    width: 100%;
}

.main-menu ul li:hover:first-child:after,
.main-menu ul li.resource:hover:after {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}
.linklogo{
	width:70px;
	height: 80px;
	display: block;
}
.linklogo img{
	width: 70px;
	height: auto;
}
#before-after {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 650px;
    z-index: 1;
}
#before-after .view{
	width: 50%;
	height: 100%;
    float: left;
	position: relative;
}
#before-after .view-before{
	background: #eb5256;
}
.view .simple-content{
	width:420px;
	height:180px;
	margin:0 auto;
	margin-top:50%;	
	position: absolute;	
	margin-left: 20%;
	text-align: center;
	font-family: "microsoft yahei";
	color:#fff;
}
.view .simple-content h2{
	line-height: 50px;
	font-size: 34px;
	text-align: left;
}
.view .simple-content h2 span{
	font-size: 20px;
	display: inline-block;
}
.view .btn-sumary{
	border:2px solid #fff;
	background: none;
	margin-top: 20px;
	cursor: pointer;
    color: #fff;
    padding: 8px 35px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.view .btn-sumary:hover{
	background: #fff;
	color:#eb5256;
}
.btn-sumary {
    letter-spacing: 1px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: inline-block;
}
.btn-sumary i {
    font-size: 14px;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -7px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-sumary:hover i {
    opacity: 1;
    right: 15px;
}
/*view-after*/
.view-after .simple-content{
    width: 300px;
    margin-left: 30%;
}
.view-after .img-position {
    width: 35px;
    height: 35px;
    border: 1px solid #d94d51;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}
.view-after h3{
    color:#333;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 300;
    margin-top:20px;
    margin-bottom: 20px;
}
.view-after h3 span{
    color: #eb5155 !important;
}
/*login*/
.login-ck{
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,.4);
}
.login-content{
    width:400px;
    height: 280px;
    margin: 0 auto;
    margin-top:300px;
    background: rgba(255,255,255,.3);
    padding-top:20px;
}
.login-content h2{
    width:100%;
    height: 40px;
    display: block;
    line-height: 40px;
    font-family: "microsoft yahei";
    font-size: 20px;
    color:#fff;
    text-align: left;
    text-indent: 22px
}
.login-content span{
    width: 100%;
    height: 30px;
    display: block;
    line-height: 30px;
    font-family: "microsoft yahei";
    font-size: 14px;
    color:#ddd;
    text-align: left;
    text-indent: 22px
}
.login-content input.input-box{
    width:360px;
    height: 38px;
    display: block;
    margin:15px auto;
    border-radius: 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari 和 Chrome */
    border:1px solid transparent;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    font-family: "microsoft yahei";
}
.login-content input.input-box:focus{
    border:1px solid #eb5256;
}
.login-content input.btn-submit{
    background: #eb5256;
    border:1px solid #eb5256;
    color: #fff;
    font-size: 16px;
    font-family: "microsoft yahei";
}
.login-content input.btn-submit:hover{
    background: #e83c41;
    border:1px solid #e83c41;
}